<body><div class="general-container">
    <h1>Spotify Wars</h1>
    <h2>DUO</h2>
    <!-- <h3>User 1 top genres</h3>
    <h3>User 2 top genres</h3> -->

    <div class="container">
    <div class="header">
        <h3>User 1 top artists</h3>
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="header">
        <h3>User 2 top artists</h3>
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>

    <a routerLink="/duosongsintro"> 
        <div class="button-container">
            <button class="next-button">
                <div class="triangle">
    </div></button></div> </a>
</div>
</body>   

