<div class="general-container">
  <h1>Spotify Wars</h1>
  <h2>DUO</h2>

  <div class="container">
    <!-- User 1 Top Artists -->
    <div class="header">
      <h3>User 1 Top Artists</h3>
      <ul>
        <li *ngFor="let artist of artists">{{ artist }}</li>
      </ul>
    </div>

    <!-- User 2 Top Artists -->
    <div class="header">
      <h3>User 2 Top Artists</h3>
      <ul>
        <li *ngFor="let artist of guestartists">{{ artist }}</li>
      </ul>
    </div>
  </div>

  <a routerLink="/duosongsintro">
    <div class="button-container">
      <button class="next-button">
        <div class="triangle"></div>
      </button>
    </div>
  </a>
</div>
