<div class="general-container">
  <h1>Spotify Wars</h1>
  <h2>DUO</h2>

  <div class="container">
    <!-- User 1 Top Tracks -->
    <div class="header">
      <h3>User 1 Top Songs</h3>
      <ul>
        <li *ngFor="let track of tracks">{{ track }}</li>
      </ul>
    </div>

    <!-- User 2 Top Tracks -->
    <div class="header">
      <h3>User 2 Top Songs</h3>
      <ul>
        <li *ngFor="let track of guesttracks">{{ track }}</li>
      </ul>
    </div>
  </div>

  <a routerLink="/duoaudio">
    <div class="button-container">
      <button class="next-button">
        <div class="triangle"></div>
      </button>
    </div>
  </a>
</div>