<div class="general-container">
    <div class="slide-container">
      <h1 class="battle-recap-title">Top Weapons</h1>
      
      <div class="lightsaber-divider"></div>
      
      <p class="battle-recap-text">Your Arsenal of Choice</p>
      <p class="battle-recap-text" style="animation-delay: 0.7s;">Most Powerful Songs in the Galaxy...</p>
      
      <div class="button-container">
        <button class="next-button" (click)="onNextClick()">
          <div class="triangle"></div>
        </button>
      </div>
    </div>
  </div>