<!-- <div class="settings-container">
    <h1>SPOTIFY WARS</h1>
    <button (click)="changeEmail()">Change email address</button>
    <button (click)="changePassword()">Change my password</button>
    <button (click)="deleteAccount()">Delete my account</button>
  </div>  -->

  <div class="settings-container">
    <h1>SP0TIFY  WARS</h1>
    <div class="input-group">
      
       <!-- Buttons -->
       <a routerLink="/forgotpass"><button class="menu-button blue-button" >Change my password </button></a>
       <a routerLink="/deleteacc"><button class="menu-button red-button" >Delete my account </button></a>

    <div class="logout"><a class="helper-text" routerLink="/loggedout">LOGOUT</a></div>
    <div class="logout"><a class="helper-text" routerLink="/dashboard">RETURN TO MY DASH</a></div>
  </div> 
  </div>


