<!-- <div class="settings-container">
    <h1>SPOTIFY WARS</h1>
    <button (click)="changeEmail()">Change email address</button>
    <button (click)="changePassword()">Change my password</button>
    <button (click)="deleteAccount()">Delete my account</button>
  </div>  -->
  
  <div class="settings-container">
    <h1>SP0TiFY  WARS</h1>
    <div class="actions">
       <!-- Buttons -->
    <button class="menu-button yellow-button">Change my e-mail address</button>
    <button class="menu-button blue-button">Change my password</button>
    <button class="menu-button red-button">Delete my account</button>

    <div class="logout"><p><a class="helper-text" routerLink="/logout">LOGOUT</a></p></div>
  </div> 
