@font-face {
  font-family: 'Nico-Moji';
  src: url('../assets/fonts/nicomoji.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow: auto; /* Allow scrolling if content exceeds the viewport */
}

.landing-container {
  text-align: center;
  background-image: url('../assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  padding: 20px;
  min-height: 100vh; 
}

h1, p {
  font-family: 'Nico-Moji', sans-serif;
  color: #F3FF47;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1.25rem;
  margin: 20px;
}

.submit-button {
  width: 50%;
  padding: 12px;
  margin-top: 20px;
  background-color: transparent;
  border: 10px solid #FF6F61; /* Change bold to solid here */
  color: #FF6F61; 
  font-family: 'Nico-Moji', sans-serif; 
  font-size: 1.0rem;
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.submit-button:hover {
  background-color: #FF6F61; 
  color: white;
}

.responsive-image {
  width: 100%; /* Image takes up the full width of the container */
  max-width: 500px; /* Do not exceed original size */
  height: auto; /* Maintains aspect ratio */
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5em; /* Adjust heading size for smaller screens */
  }

  p {
    font-size: 1em; /* Adjust paragraph size for smaller screens */
  }

  .submit-button {
    width: 100%; /* Full width on small screens */
  }

  .landing-container {
    padding: 10px; /* Reduce padding on smaller screens */
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.2em; /* Further adjust heading size for very small screens */
  }

  p {
    font-size: 0.9em; /* Further adjust paragraph size for very small screens */
  }

  .submit-button {
    padding: 10px; /* Adjust button padding for small screens */
  }
}