<div class="general-container">
    <h1>Spotify Wars</h1>
    <sub>Meet the authors!</sub>
    <p>Contact our developers to submit feedback!</p>

    <div class="author-container">
        <div class="author-profile">
            <h2>Jinhee Chang</h2>
            <p><strong>Contact:</strong> jchang396&#64;gatech.edu</p>
        </div>

        <div class="author-profile">
            <h2>Joanne Park</h2>
            <p><strong>Contact:</strong> spark912&#64;gatech.edu</p>
        </div>

        <div class="author-profile">
            <h2>Xander Riddle</h2>
            <p><strong>Contact:</strong> xriddle0917&#64;gmail.com</p>
        </div>

        <div class="author-profile">
            <h2>okiki Sokoya</h2>
            <p><strong>Contact:</strong> okikisokoya&#64;gatech.edu</p>
        </div>

        <div class="author-profile">
            <h2>olivia Li</h2>
            <p><strong>Contact:</strong> oli34&#64;gatech.edu</p>
        </div>
    </div>

    <a routerLink="/settings">
        <button class="submit-button">Back to Settings!</button>
    </a>
</div>