<div class="general-container">
    <div class="slide-container">
      <h1 class="battle-recap-title" data-text="Battle Recap">Battle Recap</h1>
      
      <div class="lightsaber-divider"></div>
      
      <p class="battle-recap-text">Your Musical Journey</p>
      <p class="battle-recap-text" style="animation-delay: 0.7s;">In A Galaxy Far Far Away...</p>
      
      <div class="button-container">
        <button class="next-button" (click)="onNextClick()">
          <div class="triangle"></div>
        </button>
      </div>
    </div>
  </div>