<body><div class="general-container">
    <h1>Spotify Wars</h1>
    <h2>DUO</h2>
    <!-- <h3>User 1 top genres</h3>-->
    <h4>GAME OVER</h4> 

    <div class="container">
    <div class="header">
        <h3>User 1 total points:</h3>
        <ul>
        </ul>
      </div>
      <div class="header">
        <h3>User 2 total points:</h3>
        <ul>
        </ul>
      </div>
    </div>

    <a routerLink="/duominigame"> 
        <div class="button-container">
            <button class="next-button">
                <div class="triangle">
    </div></button></div> </a>
</div>
</body>
