<body><div class="general-container">
    <h1>Spotify Wars</h1>
    <h2>DUO</h2>
    <sub>Welcome jedis!</sub>
    <p>Help or Hurt Robby on his journey to become a Jedi!</p>

    <a routerLink="/duobattlerecap"> 
        <div class="button-container">
            <button class="next-button">
                <div class="triangle">
    </div></button></div> </a>
</div>
</body>   


<!-- <div class="general-container">
    <h1>Spotify Wars</h1>
    <sub>Your Top Artists!</sub>
    <ul class="top-artists-list">
        <li class="top-artist-item" *ngFor="let artist of topArtists">
          {{ artist.name }}
        </li>
      </ul> -->
    <!-- <p *ngIf="items.length === 0">No items to display.</p> -->

    <!-- <a routerLink="/top-genres"> <div class="button-container"><button class="next-button"><div class="triangle">
      </div></button></div> </a>
 </div>

   -->
