{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Music Taste Battle</h2>
    
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>{{ user_name }}</h3>
                </div>
                <div class="card-body">
                    <p>Genre Score: {{ results.player1_scores.genre_score }}</p>
                    <p>Artist Score: {{ results.player1_scores.artist_score }}</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>{{ opponent_name }}</h3>
                </div>
                <div class="card-body">
                    <p>Genre Score: {{ results.player2_scores.genre_score }}</p>
                    <p>Artist Score: {{ results.player2_scores.artist_score }}</p>
                </div>
            </div>
        </div>
    </div>
    #clicking game
</div>
{% endblock %}