<!-- <div class="dashboard-container">
    <h1 class="title">Spotify Wars</h1>
    <p>Welcome, {{ username }} to your battlefield!</p>
  
    <div class="button-container">
      <button class="action-button blue" (click)="generateWrapped()">Generate a new Wrapped to help Robby out!</button>
      <button class="action-button red" (click)="callAlly()">Call an Ally for a Wrapped!</button>
    </div>
  
    <ul class="options-list">
      <li><a routerLink="/past-wraps">See past wraps</a></li>
      <li><a routerLink="/user-settings">User settings</a></li>
      <li><a (click)="deleteAccount()">Delete Account</a></li>
    </ul>
  
    <a class="logout" (click)="logout()">logout</a>
  </div> -->

  <div class="dashboard-container">
    <h1> SPoTiFY WARS</h1>
    <div class="welcome-message">Welcome to your battlefield!</div>
    <div class="actions">
       <!-- Buttons -->
       <a routerLink="/intro">
    <button class="menu-button blue-button">Generate a new Wrapped to help Robby out!</button>
  </a>

  <a routerLink="/invitefriend">
    <button class="menu-button red-button">Call an Ally for a Wrapped!</button>
    </a>
    
    </div>
    <div class="options">
        <p><a class="helper-text" routerLink="/savedwraps">See past wraps</a></p>
        <p><a class="helper-text" routerLink="/settings">User settings</a></p>
        <p><a class="helper-text" routerLink="/authors">Contact the developers</a></p>
        <p><a class="helper-text" routerLink="/deleteacc">Delete Account</a></p>
    </div>
    <div class="logout"><p><a class="helper-text" routerLink="/loggedout">Log Out</a></p></div>
  </div> 

  

  <!-- <div class="helper-text"><a class="helper-text" routerLink="/forgotpass">Forgot my password!</a></div> -->

  
 