<div class="forgotpass-container">
    <h1>Welcome to Spotify Wars!</h1>
    <p>Change my password!</p>
    <div class="input-group">
        <input type="text" class="input-field" placeholder="Enter username">
    </div>
    
    <div class="input-group">
        <input type="password" class="input-field" placeholder="Enter new password">
    </div>

    <div class="input-group">
        <input type="password" class="input-field" placeholder="Confirm new password">
    </div>
    
    <button class="submit-button" [routerLink]="['/login']"> Return to login! </button>
  </div>
