<div class="forgotpass-container">
  <h1>Welcome to Spotify Wars!</h1>
  <p>Change my password!</p>

  <!-- Username Input -->
  <div class="input-group">
    <input 
      type="text" 
      class="input-field" 
      placeholder="Enter username" 
      [(ngModel)]="username"
    >
  </div>

  <!-- New Password Input -->
  <div class="input-group">
    <input 
      type="password" 
      class="input-field" 
      placeholder="Enter new password" 
      [(ngModel)]="password"
      (input)="validatePassword()"
    >
  </div>

  <!-- Confirm Password Input -->
  <div class="input-group">
    <input 
      type="password" 
      class="input-field" 
      placeholder="Confirm new password" 
      [(ngModel)]="confirmPassword"
      (input)="validatePassword()"
    >
  </div>

  <!-- Error Message -->
  <p *ngIf="errorMessage" id="error-message" style="color: red;">{{ errorMessage }}</p>

  <!-- Submit Button -->
  <button 
    class="submit-button" 
    (click)="resetPassword()" 
    [disabled]="errorMessage !== ''"
  >
    Submit
  </button>

  <!-- Return to Login -->
  <a routerLink="/login">
    <button class="submit-button">Return to login!</button>
  </a>
</div>